.head {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.container {
    font-weight: bold;
}

.nav {
    background-color: lightgray;
    display: flex;
    
    justify-content: space-evenly;
}

.activeNavLink {
    color: blue;
}

.navLink {
    color: red;
}

.content {
    margin-left: 10vw;
    margin-right: 10vw;
}

.footer {
    background-color: lightblue;
    text-align: center;
}